@font-face {
  font-family: 'RightGrotesk-SpatialBlack';
  src: url('/images/RightGrotesk-SpatialBlack.otf') format('otf'),
       url('images/RightGrotesk-SpatialBlack.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-family: 'RightGrotesk-SpatialBlack';
}

.container {
  color: #0C3EFF;
  margin: 0 auto;
  text-align: center;
}

/*  h1 {
  font-size:  2.5rem;
  line-height: 0.01;
  text-transform: uppercase;
}  */

h2{
  line-height: 0.01;
  text-transform: uppercase;
}

h3{
  line-height: 0.01;
  font-size: 1.5em;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

section#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  scale: 130%;
  }
