@font-face {
  font-family: RightGrotesk-Medium, RightGrotesk-WideMedium, RightGrotesk-SpatialBlack, bianzhidai-Ring;
  src: url(Assets/RightGrotesk-Medium.otf);
  src: url(Assets/RightGrotesk-SpatialBlack.otf);
  src: url(Assets/RightGrotesk-WideMedium.otf);
  src: url(Assets/bianzhidai_noBG-Ring.otf);
}


html, body { 
  margin: 0;
  padding: 0;
}


canvas{
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.logo{
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  scale: 55%;
}
